body {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(120deg, #74ebd5, #9face6);
  color: #333;
  height: 100vh;
}

h1 {
  margin-top: 60px;
  font-size: 2em;
}

.level-container {
  margin-top: 80px;
}

.level-btn {
  padding: 15px 30px;
  margin: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.level-btn:hover {
  background-color: #312e81;
  transform: scale(1.05);
}

.level-image {
  width: 1200px;
  height: 500px;   
  display: block; 
  margin: 20px auto;
}